h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol,
li {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

img {
  display: block;
  width: auto;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #ffffff;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
  min-height: 85vh;
  min-width: 600px;
  border: solid 1px #4d5ae555;
  background-color: #47475e;
  border-radius: 5px;
}
.modal-overlay {
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(46, 47, 66, 0.9);
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 600px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reg-log-overlay {
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  background-color: rgba(46, 47, 66, 0.9);
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 400px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-dev {
  margin-top: 30px;
}
.list-dev a {
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 24px;
  color: #fcfcfc;
  border-radius: 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-dev a:hover {
  background-color: #ffffff;
  color: #2e2f42;
}

.is-open {
  opacity: 1;
  pointer-events: auto;
}

.navigation {
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  min-width: 600px;
  padding: 8px;
  background-color: #2e2f42;
  border-radius: 5px;
  margin: 2px 0;
}
.navigation div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer.navigation {
  display: flex;
  justify-content: center;
}
.welcome-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-style {
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 10px;
  padding: 8px 24px;
  height: 40px;
  background: #404bbf;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.btn-style.time {
  background-color: #2e2f42;
  border: 2px solid #404bbf55;
}

.btn-style:hover,
.btn-style:focus {
  transform: scaleX(0.95);
  cursor: pointer;
  background-color: #4d5ae5;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
label {
  margin: 5px 0;
  display: block;
}
input {
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  margin: 5px 0;
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 11px 16px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: #66798d;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus-within {
  border: 1px solid #1904d8;
  outline: transparent;
  background-color: #ffffff;
}

.users {
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  background-color: #2e2f42;
  border-radius: 5px;
  padding: 5px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.users ul {
  margin-top: 30px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.chat {
  border-radius: 5px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0 10px;
}
.send {
  width: 100%;
}
.textarea {
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  margin: 5px 0;
  resize: none;
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 10px;
  width: 100%;
  height: 240px;
  padding: 11px 16px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: #8082c9;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus-within {
  border: 1px solid #1904d8;
  outline: transparent;
  background-color: #ffffff;
}
[disabled].textarea:hover::placeholder {
  color: gray;
}
.textarea::placeholder {
  color: black;
}

.message {
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: solid 3px #5c6272;
  background-color: #5c6272;
}
.message:nth-child(odd) {
  border: solid 3px rgb(65, 78, 92);
  background-color: rgb(65, 78, 92);
}

.head {
  display: flex;
  justify-content: space-between;
  background-color: #2e2f42;
  padding: 8px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.text {
  padding: 8px;
}
.control {
  display: flex;
  gap: 10px;
  justify-content: end;
  padding: 2px 10px;
}
.del {
  display: flex;
  height: 25px;
  width: 60px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #fcfcfc;
  padding: 5px;
  background-color: rgb(196, 48, 48);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.del:hover {
  background-color: red;
}
.edit {
  display: flex;
  height: 25px;
  width: 60px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #fcfcfc;
  padding: 5px;
  background-color: rgb(196, 115, 48);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.edit:hover {
  background-color: orangered;
}
.reg-user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 35px;
  border-radius: 10px;
  border: dashed 1px #fcfcfc;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reg-user:hover {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
  background-color: #47475e;
}

@media (max-width: 599px) {
  .users-div {
    display: none;
  }
  .navigation {
    width: 100%;
    min-width: 320px;
  }
  main {
    flex-direction: column-reverse;
    width: 100%;
    min-width: 320px;
  }
  .chat {
    width: 100%;
    margin: 0px;
  }
  .message-form {
    width: 100%;
  }
  .textarea {
    height: 150px;
  }
  .btn-style {
    padding: 8px 5px;
    margin: 2px;
  }
  body,
  .btn-style {
    font-size: 14px;
  }
}
[disabled] {
  background-color: grey;
  color: black;
  border: solid 1px black;
}
[disabled]:hover {
  background-color: black;
  color: grey;
  border: solid 1px grey;
}
.none {
  display: none;
}
.eye-password {
  cursor: pointer;
  color: grey;
  font-size: small;
}
