h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol,
li {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

img {
  display: block;
  width: auto;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #ffffff;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  min-height: calc(100vh - 140px);
  display: flex;
  flex-direction: row;
  width: 90%;
  min-width: 600px;
  padding: 8px;
  border: solid 1px #4d5ae555;
  background-color: #47475e;
  border-radius: 5px;
  height: 55px;
}
.modal-overlay {
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(46, 47, 66, 0.9);
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 600px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reg-log-overlay {
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  background-color: rgba(46, 47, 66, 0.9);
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-dev {
  margin-top: 30px;
}
.list-dev a {
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 24px;
  color: #fcfcfc;
  border-radius: 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-dev a:hover {
  background-color: #ffffff;
  color: #2e2f42;
}

.is-open {
  opacity: 1;
  pointer-events: auto;
}

.navigation {
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  min-width: 600px;
  padding: 8px;
  background-color: #2e2f42;
  border-radius: 5px;
  height: 70px;
}
.navigation div span {
  display: flex;
  justify-content: center;
}

footer.navigation {
  display: flex;
  justify-content: center;
}

.btn-style {
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #404bbf;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.btn-style.time {
  background-color: #2e2f42;
  border: 2px solid #404bbf55;
}

.btn-style:hover,
.btn-style:focus {
  transform: scaleX(0.95);
  cursor: pointer;
  background-color: #4d5ae5;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
label {
  margin: 5px 0;
  display: block;
}
input {
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  margin: 5px 0;
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 11px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: #66798d;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus-within {
  border: 1px solid #1904d8;
  outline: transparent;
  background-color: #ffffff;
}
.none {
  display: none;
}
.users {
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  background-color: #2e2f42;
  border-radius: 5px;
  padding: 10px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.users ul {
  margin-top: 30px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.chat {
  border-radius: 5px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
.send {
  width: 100%;
}
.textarea {
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  margin: 5px 0;
  resize: none;
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 240px;
  padding: 11px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: #8082c9;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus-within {
  border: 1px solid #1904d8;
  outline: transparent;
  background-color: #ffffff;
}
.message {
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: solid 1px #57537a;
  background-color: #7a7b7c;
}
.message:nth-child(odd) {
  background-color: rgb(65, 78, 92);
}

.head {
  display: flex;
  justify-content: space-between;
  background-color: #2e2f42;
  padding: 8px;
  border-bottom-left-radius: 10px;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
}
.text {
  padding: 8px;
}
.control {
  display: flex;
  gap: 10px;
  justify-content: end;
  background-color: #2e2f42;
  border-top-right-radius: 10px;
  padding: 2px 10px;
}
.del {
  display: flex;
  height: 25px;
  width: 60px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #fcfcfc;
  padding: 5px;
  background-color: rgb(196, 48, 48);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.del:hover {
  background-color: red;
  transform: rotate(10deg);
}
.edit {
  display: flex;
  height: 25px;
  width: 60px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #fcfcfc;
  padding: 5px;
  background-color: rgb(196, 115, 48);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.edit:hover {
  background-color: orangered;
  transform: rotate(10deg);
}
.reg-user
{ display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 35px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
}